<!DOCTYPE html>
<html lang="fr-FR">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="{{ url_for('static', filename='img/favicon_io/apple-touch-icon.png') }}" rel="apple-touch-icon"
		sizes="180x180">
	<link type="image/png" href="{{ url_for('static', filename='img/favicon_io/favicon-32x32.png') }}" rel="icon"
		sizes="32x32">
	<link type="image/png" href="{{ url_for('static', filename='img/favicon_io/favicon-16x16.png') }}" rel="icon"
		sizes="16x16">
	<link href="{{ url_for('static', filename='img/favicon_io/site.webmanifest') }}" rel="manifest">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

	<title>{{ title }} | AQ54</title>
</head>

<body>
	<div class="d-flex flex-column" id="content-wrapper">

		<!-- Topbar -->
		<nav class="navbar navbar-expand navbar-light topbar static-top mb-4 bg-white shadow">
			<!-- Navbar brand -->
			<p class="nav-item mt-3">
				<a class="nav-link" href="/">AQ54</a>
			</p>
			<!-- Topbar Navbar -->
			<ul class="navbar-nav ml-auto mt-5">
				{% if not current_user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link d-none d-sm-inline" href="/signup">
						Inscription
					</a>
				</li>
				<div class="topbar-divider d-none d-sm-block mb-5"></div>
				<li class="nav-item">
					<a class="nav-link d-sm-inline mb-5" href="/login">
						Connexion
					</a>
				</li>
				{% endif %}
				<!-- Nav Item - User Information -->
				<li class="nav-item dropdown no-arrow">
					<a class="nav-link dropdown-toggle" id="userDropdown" data-toggle="dropdown" href="#" role="button"
						aria-haspopup="true" aria-expanded="false">
						<span class="d-lg-inline small mr-4 text-gray-600 mb-5">{{ email }}</span>
					</a>
					<!-- Dropdown - logout -->
					<div class="dropdown-menu dropdown-menu-right animated--grow-in shadow" aria-labelledby="userDropdown">
						<a class="dropdown-item" data-toggle="modal" data-target="#logoutModal" href="#">
							<i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
							Déconnexion
						</a>
					</div>
				</li>
			</ul>
		</nav>
		<!-- End of Topbar -->

		{% block body %}
		{% endblock %}

		<!-- Footer -->
		<footer class="sticky-footer bg-white">
			<div class="container my-auto">
				<div class="copyright my-auto text-center">
					<span>Copyright &copy; Juste Kouassi - 2023</span>
				</div>
			</div>
		</footer>
		<!-- End of Footer -->
	</div>

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#">
		<i class="fas fa-angle-up"></i>
	</a>

	<!-- Logout Modal-->
	<div class="modal fade" id="logoutModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
		tabindex="-1">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Déconnexion ?</h5>
					<button class="close" data-dismiss="modal" type="button" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Cliquez sur le bouton "Se déconnecter" si vous voulez mettre fin à votre session</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" data-dismiss="modal" type="button">Annuler</button>
					<a class="btn btn-primary" href="/logout">Se déconnecter</a>
				</div>
			</div>
		</div>
	</div>

	<!-- JavaScript -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/jquery.easing.js') }}"></script>
	<script src="{{ url_for('static', filename='js/sb-admin-2.js') }}"></script>
	{% block js %}
	{% endblock %}
</body>

</html>